<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>q2</servlet-name>
        <servlet-class>Q2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OddEven</servlet-name>
        <servlet-class>OddEven</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleInterest</servlet-name>
        <servlet-class>SimpleInterest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/helloworld</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>q2</servlet-name>
        <url-pattern>/q2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OddEven</servlet-name>
        <url-pattern>/oddeven</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpleInterest</servlet-name>
        <url-pattern>/simpleInterest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
